.projetos {
    width: 1200px;
    margin: auto;
    margin-top: 200px;   
    margin-bottom: 100px;   
    align-items: center;
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.projetos__title {
    font-size: 42px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    display: flex;
}

.projetos__text {
    font-size: 18px;
    line-height: 30px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    display: flex;
}

.projeto__divisor {
    width: 1200px;
    height: 10px;
}

.projetos__image {
    width: 1200px;
    height: 700px;
}

.projetos__subtitle {
    font-size: 30px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    display: flex;
}

.projetos__text__subtitle {
    font-size: 18px;
    line-height: 30px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;  
    display: flex;
}